.information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom:2rem;
    border-bottom: 1px solid rgb(85, 85, 85);
    padding-bottom: 1rem;
}

.information h1{
    width:70%;
    color:rgb(22, 22, 22);
    padding-top:3rem;
}

.information p{
    color:rgb(85, 85, 85);
    width: 70%;
    font-size: 1.3rem;
    margin: auto;
    padding-bottom: 3rem;
    /*text-align: center;*/
}

.section-type1{
    margin-top: 10px;
   /* box-shadow: 1px 0px 10px grey;*/
    padding-top:1rem;
    padding-bottom:3rem;
}

.section-type2{
    margin-top: 10px;
   /* box-shadow:1px 0px 10px grey;*/
    padding-top:1rem;
    padding-bottom:3rem;
}

.grid-container-type1{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr;
}

.grid-item1-type1{
    display:flex;
    grid-column: 1;
    grid-row: span 2;
    padding-right:1rem;
    justify-content: flex-end;
}

.grid-item1-type1 img{
    border:solid 3px #53657B;
}

.grid-item2-type1{
    display:flex;
    grid-column: 2;
    grid-row:1;
    color:rgb(22, 22, 22);
    align-items: center;
}

.grid-item3-type1{
    grid-column:2;
    grid-row:2;
    padding-left:1rem;
    color:rgb(40, 40, 40);
    width: 30%;
}

.grid-container-type2{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:1fr 3fr;
}

.grid-item1-type2{
    display: flex;
    grid-column: 2;
    grid-row: span 2;
    padding-left: 1rem;
    justify-content: flex-start;
}

.grid-item1-type2 img{
    border:solid 3px #53657B;
}

.grid-item2-type2{
    display: flex;
    grid-column: 1;
    grid-row:1;
    color:rgb(22, 22, 22);
    align-items: center;
    justify-content: flex-end;
}

.grid-item3-type2{
    display: flex;
    justify-content: flex-end;
    grid-column:1;
    grid-row:2;
    color:rgb(40, 40, 40);
    padding-right: 1rem;
    text-align: right;
}

.grid-item3-type2 p{
    width: 30%;
}

.position{
    font-weight: bold;
    font-size:1.2rem;
}

.beskrivning{
    font-style: italic;
    font-size: 1rem;
}
